.image1{
    position: absolute;
    height: 700px;
    width: 900px;
    right: 0;
    top: 23%;
}

body{
    margin: 0;
    width: 100%;
}

.landing{
    position: relative;
    height: 100rem;
}

.prbtn{
    display: none;
}


html{
    font-size: 10px;
    scroll-behavior: smooth;
}


.navh1{
    color: white;
}

h1{
    font-size: 3rem;
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


li , a , button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #fff;
    text-decoration: none;
}

#hd{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

ul{
    background-color: black;
    transform: translateY(5px);
}

ul li {
    background-color: black;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    font-family:'Ranga', cursive;
    font-size: 16px;

}


ul li a {
    background-color: black;
    font-size: 15px;
}

a{
    background-color: black;
    font-size: 20px;
    
}

.active{
    color: #fa7d09;
}

a:hover{
    color: #fa7d09;
    text-decoration: none;
}

.btnxa{
    padding: 12px 25px;
    cursor: pointer;
    border: none;
    font-size: 10px;
    background-color: #fa7d09;
    border-radius: 50px;
    transform: translateX(20px);
}


.text{
    position: absolute;
    top: 43%;
    left: 10%;
}



.slideh2{
    font-size: 2rem;
    padding: 0;
    width: 40rem;
    margin-top: 2rem;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.share{
    background-color: #fa7d09;
    border: none;
    font-size: 2rem;
    color: white;
    margin: 2rem auto;
    border-radius: 20px;
    padding: 1rem 0rem;
    width: 20rem;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.about{
    margin-top: 100px;
}

.abt{
    display: flex;
    justify-content: space-between;

}

.panl{
    margin: 30px 20px;
    text-align: center;
    width: 25%;
}

.abouth1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.cen{
    width: 60px;
    border: 0.1px solid #fa7d09;
    margin-bottom: 90px;
}

.fas{
    margin: 20px 0px;
    color: #fa7d09;
    font-size: 30px;
    
}
.panlh2{
    font-size: 20px;
    font-weight: 100;
}

.panlh1{
    font-weight: 400;
}

footer{
    background-color: black;
    height: 20rem;
}

.text-center{
    background-color:black;
    color: white;
    font-size: 20px;
    border-radius: 0px;
    margin: 0px;
    padding: 40px 0px;
    margin-top: 150px;
}

.ghublink{
    padding: 20px;
    font-size: 60px;
}

.newcen{
    width: 50px;
    margin: 0 auto;
    border: 0.1px solid #fa7d09;
    margin-bottom: 30px;
}

.text-muted a{
    font-size: 13px;
    font-weight: 400;
    color: rgb(150, 147, 147);
}

.text-muted a:hover{
    color: white;
}

.disc{
    display: inline-flex
}

.fa-discord{
    margin-right: 10px;
}


.show1{
    display: none;
}

ul a{
    padding-left: 20px;
    font-size: 15px;
}

nav{
    transform: translateX(130px);
}  



@media only screen and (max-width: 1400px) {
   
    html{
        font-size: 8px;
    }

    nav{
        transform: translateX(20px);
    }

    .image1{
        height: 500px;
        width: 500px;
    }

}

@media only screen and (max-width: 800px) {
    html{
        font-size: 7px;
    }

    .image1{
        height: 300px;
        width: 300px;
    }

    .landing{
        height: 65rem;
    }

    .abouth1{
        font-size: 30px;
    }

    .text-center{
        margin-top: 50px;
    }

    .about{
        margin-top: 50px;
    }

    ul{
        padding: 0;
    }

    li{
        padding: 20px;
    }

    .btnxa{
        font-size: 10px;
    }

    .panlh2{
        font-size: 16px;
        font-weight: 100;
    }

    .abouth1{
        font-size: 26px;
    }

    nav{
        transform: translateX(20px);
    }


} 

@media only screen and (max-width: 600px){
    ul, .btnxa{
        display: none;
    }

    .text{
        text-align: center;
        transform: translate(21px, -60px);

    }

    .image1{
        height: 200px;
        width: 250px;
        transform: translate(-90px, 200px);
       
    }

    .landing{
        height: 70rem;
    }

    .slideh1{
        font-size: 17px;
    }

    .slideh2{
        font-size: 12px;
    }

    .navh1{
        font-size: 16px;
    }
    
    .abt{
        display: flex;
        flex-flow: column;
    }

    .panl{
        width: 100%;
        margin: 0px;
        margin-bottom: 80px;
    }

    .panl:nth-child(3){
        margin-bottom: 0px;
    }

    .cen{
        margin-bottom: 80px;
    }

    .prbtn{
        display: block;
        background-color: #fa7d09;
        color: rgb(255, 255, 255);
        border: 0.1px solid #fa7d09;
        border-radius: 10px;
        font-size: 14px;
        transform: translate(60px,0px);
    }

    .newcen{
        margin-bottom: 15px;
    }

    .text-center{
        padding: 10px;
    }
} 


@media only screen and (max-width: 400px){

    .text{
        transform: translate(6px, -70px);
        
    }


    .panlh2{
        font-weight: 100;
        font-size: 13px;
    }

    .image1{
        transform: translate(-60px,200px);
    }

    .prbtn{
   
        transform: translate(50px,0px);
    }

}


@media only screen and (max-width: 325px){

    .text{
        transform: translate(-10px, -70px);
    }

    .image1{
        transform: translate(-30px,200px);
    }

    .prbtn{
   
        transform: translate(34px,-2px);  
        font-size: 13px;
    }


}